<h1 id="tableLabel">Movies</h1>

<p>This component demonstrates fetching movies from the server.</p>

<button class="nav-link text-dark" [routerLink]="['/movies-add']">Add movies</button>

<p *ngIf="!movies"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="movies">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>author</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let movie of movies">
      <td>{{ movie.id }}</td>
      <td>{{ movie.name }}</td>
      <td>{{ movie.author }}</td>
      <td><button class="btn btn-primary" (click)="deleteMovie(movie)">delete</button></td>
      <td><a href="/movies-update?id={{movie.id}}" class="btn btn-primary">update</a></td>
    </tr>
  </tbody>
</table>
